.card {
  display: inline-block;
  padding: 0 5%;
  width: 100%;
  border-radius: 5px;

  &__img {
    background-size: cover;
    background-position: center;
    height: 16rem;
    width: 16rem;
    margin-top: 2rem;
    margin-left: 3rem;
    object-fit: contain;

    &-container {
      background-image: linear-gradient(
        to top,
        var(--color-primary-dark) 0%,
        var(--color-primary) 100%
      );
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      // width: 32rem;
      // height: 22rem;
    }
  }
  &__sale {
    font-size: 1.5rem;
    background: red;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &-container {
      background: #ed213921;
      border: 1px solid rgba(black, 0.1);
      width: 14rem;
      position: absolute;
      text-align: center;
      top: 74%;
      left: 80%;
      z-index: 1;
      transform: rotate(-45deg);
    }
  }

  &__bottom {
    width: 100%;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-size: 2.5rem;
    text-align: center;
  }

  &__divider {
    background-color: gray;
    opacity: 0.3;
    height: 3rem;
    width: 1px;
    margin-left: auto;
  }

  &__price {
    font-size: 2rem;
    font-weight: 700;
  }
  &__exclusive {
    text-align: center;
    font-size: 1.5rem;
    color: gold;
    &-container {
      width: 100%;
      position: absolute;
      top: 0;
      background-color: #fbf5b72d;
    }
  }
}
