@import "./my_normalize.css";
:root {
}

html {
  font-family: "Lato", sans-serif;
}

body {
  overflow: hidden;
}

.heading-primary {
  font-size: 6rem;
}

.heading-secondary {
  font-size: 4.5rem;
}

.heading-teritary {
  font-size: 1.6rem;
}
